/* .green{
    background-color: #4CAF50; 
} */

.playButtonCenter {
  z-index: 10000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 0;
  height: 0;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-left: 80px solid #47c4dd;
}

.playWrapper {
  position: absolute;
  z-index: 10030;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.invisible {
  visibility: hidden;
}
