body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
	
/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

/*
SHARED CLASSES
*/

.absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}

/* In the Player */
.video-react-big-play-button, 
.video-react-big-play-button-center,
.big-play-button-hide,
.video-react-bezel-animation,
.video-react-bezel,
.video-react-bezel-pause
 {
  visibility: hidden;
  display: none;
}


.ta-c{
  text-align: center;
}


